.image-card {
  max-width: 480px;
  width: 100%;

  .image {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 12px;
    align-items: flex-start;
    padding: 0px 5px 10px 5px;

    @media (min-width: 600px) {
      padding-left: 0px;
      padding-right: 0px;
    }

    .icon {
      width: 18px;
      height: 18px;
      padding-right: 4px;
      filter: var(--icon-filter); // Applies theme-aware filter
    }

    .location-time {
      display: flex;
      flex-direction: column;
    }

    .metadata {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .country-info {
      display: flex;
      align-items: flex-start;
      gap: 8px;

      font-weight: 400;

      .flag {
        font-size: 18px;
      }
    }

    .timestamp {
      .date {
        font-size: 14px;
        opacity: 0.9;
      }
    }

    .altitude,.distance, .timestamp {
      display: flex;
      align-items: center;
    }
  }
}
