@use '../../mixins' as mi;

.stats-container{
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 24px 0px;
    color: var(--text-color);
  }

  h3 {
    color: var(--text-color);
  }
}

.sub-totals {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 24px;
}

.altitude-totals {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.chart-container {
  width: 100%;
  max-width: 768px;

  &.altitude-section{
    @include mi.neumorphism(true, var(--default-radius), 5px);
  }
}
