.stats-container{
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-totals {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 16px;
}

.altitude-totals {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 16px;
}

.chart-container {
  width: 100%;
  max-width: 768px;
}
