@use '../../mixins' as mi;
.stats-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  background-color: var(--background-color);

  @include mi.neumorphism(true, 12px, 0px);

  .title {
    background-color: var(--primary-color);
    padding: 8px 16px;
    width: 100%;
    text-align: center;
    z-index: 100;

    @include mi.neumorphism(true, 0px, 10px, 15px, 0.0);
  }

  .value {
    font-size: 2rem;
    padding: 8px 16px;
    font-weight: 500;
  }
}
