/* You can add global styles to this file, and also import other style files */
@use 'theme';

/* Mapbox GL CSS */
@import 'mapbox-gl/dist/mapbox-gl.css';

:root {
  --toolbar-bg: var(--primary-color);
  --navbar-bg: var(--primary-color);
}

body {
  margin: 0px;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
