/* You can add global styles to this file, and also import other style files */
@use 'theme';

@use '@fontsource/pacifico';
// Supports weights 100-700
@use '@fontsource-variable/ibm-plex-sans';

/* Mapbox GL CSS */
@import 'mapbox-gl/dist/mapbox-gl.css';

:root {
  --toolbar-bg: var(--primary-color);
  --navbar-bg: var(--primary-color);
  --header-clr: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; // Prevent body scroll
  font-family: 'IBM Plex Sans Variable', sans-serif;
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--text-color);
  
  // iOS Safari viewport fix
  position: fixed;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pacifico', cursive;
  margin: 0;
  color: var(--header-clr);
}
